* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}

/* 導覽列 */

nav {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    background: rgb(255, 238, 238);
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    align-items: center;
    /* position: fixed; */
    /* height: 100vh; */
    /* grid-template-rows: 20% 70% 10%; */
}

body {
    /* height: 3000px; */
}

#logo img {
    width: 80px;
}

#link a {
    padding: 0 30px;
    text-decoration: none;
    /* display: inline-block; */
    /* width: 10px; */
    font-weight: 900;
    color: darkgrey;
    transition: .5s;
}

#link a:hover {
    color: rgb(255, 59, 180);
}

#social img {
    padding: 7px;
}

#product > div {
    display: grid;
    grid-template-columns: 60% 40%;
}

#product .pic img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#product {
    width: 1280px;
    margin: 0 auto;
}

#product .text {
    padding: 120px 30px;
}

#product .text h1 {
    padding: 10px;
} 

#product .text p {
    line-height: 1.5;
    padding: 10px;
}

#product .text a {
    padding: 10px;
}

#product > div:nth-child(2) {
    grid-template-areas: "pic text";
    grid-template-columns: 60% 40%;
}

#product > div:nth-child(2) .text {
    grid-area: text;
}

#product > div:nth-child(2) .pic {
    grid-area: pic;
}

.button {
    padding: 5px 10px;
    border: 1px solid  rgb(255, 59, 180);
    text-decoration: none;
    color:  rgb(255, 59, 180);
    transition: .5s;
}

.button:hover {
    background:  rgb(255, 59, 180);
    color: #fff;
}

#info {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    width: 1280px;
    margin: 50px auto;

}

#info .pic img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

#info .text h1 {
    color: #333;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin: 10px;
}

#info .text hr {
    padding: 20px 0;
}

#info .text p {
    padding: 20px 0;
}



